body {
    background-image: url('../img/bubble-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div#layout {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    inset: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    contain: layout;
    position: fixed;
}
div#fixytm-button {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 0, 51, 0.3);
    justify-content: center;
    align-items: center;
    background-clip: content-box;
}
div#fixytm-button:hover, div#fixytm-button:active {
    background-color: rgba(255, 0, 51, 1);
}
div.fixytm-tab {
    height: 300px;
    border: #ff0033 2px solid;
    border-radius: 5px;
    background: rgba(2, 2, 2, 0.6);
    contain: layout;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
div.fixytm-tab:hover {
    background-color: rgba(2, 2, 2, 0.7);
}