div#layout {
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.4) 100%);
    inset: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    contain: layout;
    position: fixed;
}
a#fix-ytm-button {
    aspect-ratio: 1 / 1;
    border: none;
    display: block;
    background:
        linear-gradient(0deg, transparent 47%, #FF0000 47%, #FF0000 53%, transparent 53%),
        linear-gradient(90deg, transparent 47%, #FF0000 47%, #FF0000 53%, transparent 53%);
    transition: transform 1s ease-in-out;
    max-width: 100%;
}
a#fix-ytm-button img {
    transform: rotate(var(--imgangle));
    transition: transform 1.8s ease-in-out ;
    --imgangle: 30deg;
}
a#fix-ytm-button:hover img, div#fix-ytm-button:active img, div#fix-ytm-button:focus img {
    --imgangle: -75deg;
}
a#fix-ytm-button:hover, div#fix-ytm-button:active, div#fix-ytm-button:focus {
    transform: rotate(45deg)
}

div.fix-ytm-tab {
    height: 300px;
    border: #ff0033 2px solid;
    border-radius: 5px;
    background: rgba(2, 2, 2, 0.6);
    contain: layout;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
div.fix-ytm-tab:hover, div.fix-ytm-tab:active {
    background-color: rgba(2, 2, 2, 0.7);
}
.fix-ytm-functionality-item {
    width: 100px;
    height: 100px;
    display: flex;
    padding: 3px;
    margin: 7px;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    background-color: rgba(255, 0, 51, 0.3);
    color: #ffffff;
    border-radius: 50%;
    border: none;
    z-index: 9999;
    font-size: 18px;
    font-family: monospace;
}
.fix-ytm-functionality-item:hover {
    background-color: rgba(255, 0, 51, 1);
    cursor: pointer;
    border: none;
    text-decoration: none;
}
.fix-ytm-functionality-item:active {
    background-color: rgba(200, 0, 40, 1);
    border: none;
    text-decoration: none;
}
button.simulation-mode {
    cursor: pointer;
    background: none;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0;
    background-clip: padding-box;
}
#mode-select, #simulation {
    border: none;
    margin: 0;
    background: none;
    background-clip: padding-box;
}
#simulation {
    background-color: rgba(0, 0, 0, 0.25)
}
a#goback {
    position: fixed;
    right: 100px;
    bottom: 100px;
}
figure {
    position: relative;
}
figure figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    transition: opacity 0.5s ease 0.3s;
}
figure:hover figcaption {
    opacity: 1;
}

@media (max-width: 992px) {
    a#goback {
        right: 10px;
        bottom: 10px;
    }
}